/* enet_default.css contains reset.css and a lot of default classes		
/*  -----------------------------------------------------------------------------


/* (1) ---------- RESET CSS  based on e.mayer ----------- */


*{margin:0;padding:0;}
html,body{height:100%;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-family:inherit;font-size:100%;font-weight:inherit;vertical-align:baseline;margin:0;padding:0;}
button, input, select, textarea {margin:0; padding:0;}
body{line-height:1;}
table{border-spacing:0;border-collapse:collapse;}
caption,th,td{font-weight:400;text-align:left;}
table,td,th{vertical-align:middle;}
del { text-decoration: line-through;}
b, strong {font-weight: bold;}
blockquote, q {quotes: none;}


/* (2) ---------- link ----------- */

a {cursor:pointer;font-weight:normal;text-decoration:none;}
a b {font-weight:bold;}
a:hover {text-decoration:underline}
a img {border:none;}
a:hover, a:active, a:visited { outline: none; -moz-outline: none;}

/* (3) ---------- list ----------- */

ul, ol {list-style:none;}

/* (4) ---------- forms ----------- */

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
input:focus {outline:none;}
input{font-family:Arial,sans-serif;}
button {  width: auto; overflow: visible; }
button, input[type="checkbox"], input[type="radio"], input[type="reset"], input[type="submit"] {padding:1px;}
textarea {resize:none; overflow: auto;}
input, select { vertical-align: middle; }

/* (5) ---------- extras ----------- */

pre, code, kbd, samp { font-family: monospace, sans-serif; }
blockquote p:before, blockquote p:after, q:before, q:after {content: '';}
img {vertical-align: bottom;}

.ie7 img { -ms-interpolation-mode: bicubic; } /*IE better img render*/

/*select bg & font color*/
::-moz-selection{ background: #cb0202; color:#fff; text-shadow: none; } 
::selection { background:#cb0202; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #cb0202;} 

input::-moz-focus-inner { border: 0; padding: 0; } /*Remove button padding in FF*/

/* (6) ---------- HTML5 adds  ----------- */

section, nav, header, footer, aside, hgroup, article {position:relative;display:block}

/* (7) ---------- structure  ----------- */

body div {position:relative;text-align:left;}


/*/*/*/*/*/*/*/*/*/* (8) ---------- Default classes  ----------- */*/*/*/*/*/*/*/*/*/

/*debug*/

.debug{border:1px solid red;}

/*floats*/

.floatRight{display:block;float:right !important;}
.floatLeft{display:block;float:left !important;}
.floatNone{display:block;float: none !important;}
.ie6 .floatRight, .ie7 .floatRight {display: inline;} /*IE6-7 float bug*/
.ie6 .floatLeft, .ie7 .floatLeft {display: inline;} /*IE6-7 float bug*/

/*font-colors*/

.orange {color:#DF0000 !important;}
.red {color:#DF0000 !important;}
.green {color:#336417 !important}

/*clearfix*/

.clearfix{clear:both;overflow:hidden;}
.clearfix2:before, .clearfix2:after {content:""; display:table; height: 0;}
.clearfix2:after {clear:both;}
.clearfix2 {*zoom:1;} /* For IE 6/7 (trigger hasLayout) */

/*positioning*/

.absolute{position:absolute;}
.relative{position:relative;}
.static{position:static;}

/*visibility*/

.none{display:none;}
.hidden{visibility:hidden;}
.visible{visibility:visible;}

/*font*/

.strong{font-weight:700 !important;}
.al_center {text-align: center}
.al_left {text-align: left !important;}
.al_right {text-align: right !important;}
.weak {font-weight:500 !important;}

.font9, .f9 {font-size: 9px; line-height: 12px;}
.font10, .f10 {font-size: 10px; line-height: 13px;}
.font11, .f11 {font-size: 11px; line-height: 14px;}
.font12, .f12 {font-size: 12px; line-height: 15px;}
.font13, .f13 {font-size: 13px; line-height: 16px;}
.font14, .f14 {font-size: 14px; line-height: 17px;}
.font16, .f16 {font-size: 16px; line-height: 19px;}
.font18, .f18 {font-size: 18px; line-height: 21px;}
.font20, .f20 {font-size: 20px; line-height: 23px;}


/*borders*/

.no-border {border: 0px !important}
.no-borderL {border-left: 0px !important}
.no-borderR {border-right: 0px !important}
.no-borderB {border-bottom: 0px !important}
.no-borderT {border-top: 0px !important}

.radius1 {border-radius: 1px}
.radius2 {border-radius: 2px}
.radius3 {border-radius: 3px}
.radius4 {border-radius: 4px}
.radius5 {border-radius: 5px}
.radius6 {border-radius: 6px}
.radius7 {border-radius: 7px}
.radius8 {border-radius: 8px}
.radius9 {border-radius: 9px}
.radius10 {border-radius: 10px}


.radius1_nob {border-radius: 1px 1px 0px 0px}
.radius2_nob {border-radius: 2px 2px 0px 0px}
.radius3_nob {border-radius: 3px 3px 0px 0px}
.radius4_nob {border-radius: 4px 4px 0px 0px}
.radius5_nob {border-radius: 5px 5px 0px 0px}
.radius6_nob {border-radius: 6px 6px 0px 0px}
.radius7_nob {border-radius: 7px 7px 0px 0px}
.radius8_nob {border-radius: 8px 8px 0px 0px}
.radius9_nob {border-radius: 9px 9px 0px 0px}
.radius10_nob {border-radius: 10px 10px 0px 0px}


.radius1_not {border-radius: 0px 0px 1px 1px}
.radius2_not {border-radius: 0px 0px 2px 2px}
.radius3_not {border-radius: 0px 0px 3px 3px}
.radius4_not {border-radius: 0px 0px 4px 4px}
.radius5_not {border-radius: 0px 0px 5px 5px}
.radius6_not {border-radius: 0px 0px 6px 6px}
.radius7_not {border-radius: 0px 0px 7px 7px}
.radius8_not {border-radius: 0px 0px 8px 8px}
.radius9_not {border-radius: 0px 0px 9px 9px}
.radius10_not {border-radius: 0px 0px 10px 10px}


/*columns - fluid*/


.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11 {float: left; margin-right: 3.8%; position: relative;}

.col_1 {width: 4.85% !important;}  /* ie - 4.7% */
.col_2 {width: 13.5% !important;}  /* ie - 13.2% */
.col_3 {width: 22.15% !important;} /* ie - 22.05% */
.col_4 {width: 30.8% !important;} 	/* ie - 30.6% */
.col_5 {width: 39.45% !important;} /* ie - 39% */
.col_6 {width: 48.1% !important;} 	/* ie - 48% */
.col_7 {width: 56.75% !important;} /* ie - 56.75% */
.col_8 {width: 65.4% !important;} 	/* ie - 61.6% */
.col_9 {width: 74.05% !important;} /* ie - 74.05% */
.col_10 {width: 82.7% !important;} /* ie - 82.7% */
.col_11 {width: 91.35% !important;}/* ie - 91.35% */
.col_12 {clear: both; width: 100% !important; float: left;}


/*margins*/

.m_auto {margin:  0 auto !important;float: none !important}

.no-margin {margin: 0px !important}
.no-marginL {margin-left: 0px !important}
.no-marginR {margin-right: 0px !important}
.no-marginB {margin-bottom: 0px !important}
.no-marginT {margin-top: 0px !important}

.m5 {margin: 5px !important;}
.m10 {margin: 10px !important}
.m15 {margin: 15px !important;}
.m20 {margin: 20px !important}
.m25 {margin: 25px !important;}
.m30 {margin: 30px !important}
.m40 {margin: 40px !important}
.m50 {margin: 50px !important}
.m60 {margin: 60px !important;}
.m90 {margin: 90px !important;}
.m120 {margin: 120px !important;}

.mb5 {margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px !important}
.mb15 {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important}
.mb25 {margin-bottom: 25px !important;}
.mb30 {margin-bottom: 30px !important}
.mb40 {margin-bottom: 40px !important}
.mb50 {margin-bottom: 50px !important}
.mb60 {margin-bottom: 60px !important;}
.mb90 {margin-bottom: 90px !important;}
.mb120 {margin-bottom: 120px !important;}


.mt5 {margin-top: 5px !important;}
.mt10 {margin-top: 10px !important}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important}
.mt40 {margin-top: 40px !important}
.mt50 {margin-top: 50px !important}
.mt60 {margin-top: 60px !important;}
.mt90 {margin-top: 90px !important;}
.mt120 {margin-top: 120px !important;}


.ml5 {margin-left: 5px !important;}
.ml10 {margin-left: 10px !important}
.ml15 {margin-left: 15px !important;}
.ml20 {margin-left: 20px !important}
.ml25 {margin-left: 25px !important;}
.ml30 {margin-left: 30px !important}
.ml40 {margin-left: 40px !important}
.ml50 {margin-left: 50px !important}
.ml60 {margin-left: 60px !important;}
.ml90 {margin-left: 90px !important;}
.ml120 {margin-left: 120px !important;}


.mr5 {margin-right: 5px !important;}
.mr10 {margin-right: 10px !important}
.mr15 {margin-right: 15px !important;}
.mr20 {margin-right: 20px !important}
.mr25 {margin-right: 25px !important;}
.mr30 {margin-right: 30px !important}
.mr40 {margin-right: 40px !important}
.mr50 {margin-right: 50px !important}
.mr60 {margin-right: 60px !important;}
.mr90 {margin-right: 90px !important;}
.mr120 {margin-right: 120px !important;}


/*paddings*/


.no-padding {padding: 0px !important}
.no-paddingL {padding-left: 0px !important}
.no-paddingR {padding-right: 0px !important}
.no-paddingB {padding-bottom: 0px !important}
.no-paddingT {padding-top: 0px !important}


.p5 {padding: 5px !important;}
.p10 {padding: 10px !important}
.p15 {padding: 15px !important;}
.p20 {padding: 20px !important}
.p25 {padding: 25px !important;}
.p30 {padding: 30px !important}
.p40 {padding: 40px !important}
.p50 {padding: 50px !important}
.p60 {padding: 60px !important;}
.p90 {padding: 90px !important;}
.p120 {padding: 120px !important;}


.pb5 {padding-bottom: 5px !important;}
.pb10 {padding-bottom: 10px !important}
.pb15 {padding-bottom: 15px !important;}
.pb20 {padding-bottom: 20px !important}
.pb25 {padding-bottom: 25px !important;}
.pb30 {padding-bottom: 30px !important}
.pb40 {padding-bottom: 40px !important}
.pb50 {padding-bottom: 50px !important}
.pb60 {padding-bottom: 60px !important;}
.pb90 {padding-bottom: 90px !important;}
.pb120 {padding-bottom: 120px !important;}


.pt5 {padding-top: 5px !important;}
.pt10 {padding-top: 10px !important}
.pt15 {padding-top: 15px !important;}
.pt20 {padding-top: 20px !important}
.pt25 {padding-top: 25px !important;}
.pt30 {padding-top: 30px !important}
.pt40 {padding-top: 40px !important}
.pt50 {padding-top: 50px !important}
.pt60 {padding-top: 60px !important;}
.pt90 {padding-top: 90px !important;}
.pt120 {padding-top: 120px !important;}


.pl5 {padding-left: 5px !important;}
.pl10 {padding-left: 10px !important}
.pl15 {padding-left: 15px !important;}
.pl20 {padding-left: 20px !important}
.pl25 {padding-left: 25px !important;}
.pl30 {padding-left: 30px !important}
.pl40 {padding-left: 40px !important}
.pl50 {padding-left: 50px !important}
.pl60 {padding-left: 60px !important;}
.pl90 {padding-left: 90px !important;}
.pl120 {padding-left: 120px !important;}


.pr5 {padding-right: 5px !important;}
.pr10 {padding-right: 10px !important}
.pr15 {padding-right: 15px !important;}
.pr20 {padding-right: 20px !important}
.pr25 {padding-right: 25px !important;}
.pr30 {padding-right: 30px !important}
.pr40 {padding-right: 40px !important}
.pr50 {padding-right: 50px !important}
.pr60 {padding-right: 60px !important;}
.pr90 {padding-right: 90px !important;}
.pr120 {padding-right: 120px !important}



/*backgrounds*/

.info_bg {background: #d7e8ae;border-bottom: 2px solid #6b8317;border-top: 2px solid #6b8317;font-weight: bold;}
.error_bg {background: #e73c15;border-bottom: 2px solid #831917;border-top: 2px solid #831917;color: #fff;font-weight: bold;}
.alert_bg {background: #fef4b3;border-bottom: 2px solid #f2d42d;border-top: 2px solid #f2d42d;font-weight: bold;}


/* widths */

.w10 {width: 10px}
.w20 {width: 20px}
.w30 {width: 30px}
.w40 {width: 40px}
.w50 {width: 50px}
.w60 {width: 60px}
.w70 {width: 70px}
.w80 {width: 80px}
.w90 {width: 90px}
.w100 {width: 100px}
.w110 {width: 110px}
.w120 {width: 120px}
.w130 {width: 130px}
.w140 {width: 140px}
.w150 {width: 150px}
.w160 {width: 160px}
.w170 {width: 170px}
.w180 {width: 180px}
.w190 {width: 190px}
.w200 {width: 200px}
.w210 {width: 210px}
.w220 {width: 220px}
.w230 {width: 230px}
.w240 {width: 240px}
.w250 {width: 250px}
.w300 {width: 300px}
.w350 {width: 350px}
.w400 {width: 400px}
.w450 {width: 450px}
.w500 {width: 500px}
.w550 {width: 550px}
.w600 {width: 600px}
.w650 {width: 650px}
.w700 {width: 700px}
.w750 {width: 750px}
.w800 {width: 800px}



/*koniec Default classes*/

